$root-width-min: 340px;
$root-font-size-xs: 10px;
$root-font-size-sm: 12px;
$root-font-size-md: 14px;
$root-font-size-default: 16px;
$color: (
  "brand": #42b883,
  "white": #ffffff,
  "black": #000000,
);
